:root {
  rgba(196, 164, 55, 0.3);
  --main-2: rgba(42, 64, 51, 0.2);
  --main-3: rgba(10, 5, 5, 0.4);
  --nav-height: 12vh;
  --text-base: ghostwhite;
}

html {
  margin: 0 !important;
  padding: 0 !important;
}

body {
  font-family: sans-serif;
  background: #f8faf8;
  margin: 0 !important;
  top: 0; left: 0;
  color: var(--text-base);
  max-width: 100%;
}

body::-webkit-scrollbar { background: rgb(0,0,0); width: 0; }
/* body::-webkit-scrollbar-thumb {
  background: linear-gradient(pink, white);
  border-radius: 20px;
} */

.background-image {
  background-image: url("images/farm.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: fixed; top: 0;
  width: 100vw; height: 100vh;
  margin: 0; padding: 0;
  z-index: -1;
}

.background-image::before {
  content: "";
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
}

#block-top {
  content: "";
  height: calc(var(--nav-height) + 5vh);
  width: 100%;
}

#navbar {
  position: fixed; top: 0;
  width: 100%; height: var(--nav-height);
  background-color: var(--main-2);
  border-bottom: 1.5px solid var(--main-1);
  backdrop-filter: blur(2px);
  h1 { 
    color: var(--main-1);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }
}

#block-bottom {
  position: relative;
  content: "";
  width: 200px;
  height: 200px;
  top: 120vh;
}


/* ------------------------------------------- SETUP DONE --------------------------------------------------------- */


main {
  padding: 2.5vw;
  max-width: 90vw;
}

.mainblock {
  width: 100%;
  padding: auto;
  .text { text-align: center; }
}


.section-1 {
  height: 50vh;
  h1 {
    font-family: monospace;
    font-size: 4rem;
    span {
      display: block; 
      font-size: 0.66em;
      font-style: italic;
    }
  }
}


.section-2 {
  position: relative;
  height: auto; width: 50vw;
  padding: 20px; left: 20vw;
  border-radius: 10px;
  background-color: var(--main-3);
  border: 0.5px groove ghostwhite;
  display: flex;
  justify-content: center;
  align-items: center;
  
  form {
    padding: auto;
    button { 
      display: block;
      background: var(--main-3);
      color: antiquewhite;
      margin: auto;
      margin-top: 2vh;
    }

    input {
      background: rgba(250, 250, 250, 0.2);
      color: var(--text-base);
      border-radius: 2.5px;
      backdrop-filter: blur(5px);
    }
  }
}

input, button {
  padding: 0.5rem;
  margin: 0.2rem;
}


#output {
  content: "3ed";
  position: relative;
  top: 2.5vh; left: 2.5vw;
  background: rgba(10, 20, 20, 0.7);
  padding: 1rem;
  border-radius: 8px;

  div {
    border-radius: 10px;
    padding: 10px;
  }
}

.LLM {
  background: rgba(45, 124, 55, 0.6);
  color: floralwhite;
  border-top-left-radius: 0 !important;
}

.query {
  background: var(--main-3);
  color: floralwhite;
  border-top-right-radius: 0 !important;
}

