<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>DurHack 2025</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
  <div class="background-image"></div>
  <div id="block-top"></div>
  <div id="navbar">
    <h1>🌾 GroundTruth</h1>
  </div>
  
  <main>
    <div class="section-1 mainblock">
      <h1 class="text">Environmental Forecast <span>The Farmer's Dashboard</span></h1>
    </div>
    <div class="midsection mainblock">
      <h3>Enter your location and crop type so we run analysis on NASA data specified to you...</h3>
      <p>Please be patient with the response time</p>
    </div>
    <div class="section-2 mainblock">
      <form id="forecastForm">
        <input type="text" id="postcode" placeholder="Enter postcode..." required>
        <input type="text" id="crop" placeholder="Crop type..." required>
        <button type="submit">Get Forecast</button>
      </form>
    </div>
    <div id="output" class="hidden">
      <input type="text" class="hidden" id="querier" placeholder="Further Questions...">
    </div>
  </main>

  <div id="block-bottom"></div>
  <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
